[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"

[dev-packages]
black = "*"
exceptiongroup = { version = "*", python = "< 3.11" }  # for pytest
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
tomli = { version = "*", python = "< 3.11" }  # for tox
tox = "*"
pytest-mock = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.17"
